tempCodeRunnerFile.py
src/__pycache__/
tests/__pycache__/
tests/fixture/__pycache__/__init__.cpython-39.pyc
*__pycache__
.vscode/launch.json
.vscode/settings.json

tests/test_env/Include/
tests/test_env/Scripts/
tests/test_env/Lib/
tests/.vscode/settings.json
